google-play-scraper
pandas 
numpy
matplotlib
seaborn
plotly
nltk
google-generativeai
langchain
streamlit
langchain-google-genai
langchain-community
langchain-chroma
sklearn
angchain-community 
faiss-cpu 
tiktoken